<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Budget Pro</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    
  </style>
</head>

<body>

  <header>
    <div class="welcome-message">
      <h2>Welcome, <%= firstName %></h2> <!-- Dynamic greeting: This is not a bug! -->
    </div>
    <div class="logout-button">
      <a href="/login">
          <button id="logout-button">Logout</button>
      </a>
    </div>
    <div class="header-text-container"> <!-- Text container for independent positioning -->
      <h1>Travel Budget Pro</h1>
      <p>Stay up-to-date on your travel expenses</p>
    </div>
  </header>

  <div id="display" class="display">
    <nav id="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/createBudget">Create Budget</a></li>
        <li><cur>Create Report</cur></li> 
        <li><a href="/settings">Edit Settings</a></li>
      </ul>
    </nav>
  
    <div class="content">
      <iframe src="expense_chart.ejs" width="100%" height="100%" frameborder="1"></iframe>
    </div>
  </div>

  <footer>
    &copy; 2024 Travel Budget Pro
  </footer>
</body>

</html>