<!--        home.html

        (Author: Mark Kraus, Connor Gramling, & Ben Mullin )

  Overview:
    Allows existing users to access the rest of the website
    and see their existing budgets as well as create new one.
    
  Functionality:
    1. Logout
    2. 
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Budget Pro</title>
  <link rel="stylesheet" href="styles.css">
  <!-- Include Handsontable CSS -->
  <link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">
  <style>

    /* Table styles */
    #handsontable-container {
      height: 90% !important;
      width: 90% !important;
      overflow: hidden;
      flex: 1;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border-top: 2px solid #ccc;
      text-align: center;
      margin-top: auto; /* Push footer to bottom */
    }

    
  </style>
</head>

<body>

  <header>
    <div class="welcome-message">
      <h2>Welcome, <%= firstName %></h2> <!-- Dynamic greeting: This is not a bug! -->
    </div>
    <div class="logout-button">
      <a href="/login">
          <button id="logout-button">Logout</button>
      </a>
    </div>
    <div class="header-text-container"> <!-- Text container for independent positioning -->
      <h1>Travel Budget Pro</h1>
      <p>Stay up-to-date on your travel expenses</p>
    </div>
  </header>

  <div id="display" class="display">
    <nav id="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><cur>Create Budget</cur></li> 
        <li><a href="/createReport">Create Report</a></li>
        <li><a href="/settings">Edit Settings</a></li>

      </ul>
    </nav>
  
    <div class="content">

       <!-- ROGA-->
       <form id="save-budget-form" action="#" method="post">

        <button id="save-budget-btn" style="margin-bottom: 10px;">Save Budget</button>
      </form>

      <!-- add row dynamically -->
      <button id="add-row-button">Add Expense</button> <!-- Button to increment rows -->

      <!-- Content loaded dynamically based on button clicks -->
      <div id="handsontable-container">
        <!-- Handsontable grid will be inserted here -->
      </div>

    </div>
  </div>

  <footer>
    &copy; 2024 Travel Budget Pro
  </footer>

    <!-- Includes Handsontable JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

    <!-- Includes spreadsheet  -->
    <script src="spreadsheet.js"></script>
  
</body>

</html>