header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 109px;
  border-bottom: 2px solid #ccc;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  height: 100vh; /* Set the height to occupy 25% of the viewport height */
  overflow: hidden; /* Prevent scrolling if content overflows */
  flex-direction: column;
}

h1{
  text-align: center;
}

#sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  min-height: calc(100vh - 300px); /* Adjusted for header and footer height */
  padding: 20px;
  border-right: 2px solid #ccc;
  flex: 1; /* Occupy full height */
  display: flex;
  flex-direction: column; /* Arrange content vertically */
}


#sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}

#sidebar cur {
  color: #555;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  background-color: #fff;
  font-weight: bold;
}

#sidebar a:hover {
  background-color: #555;
}

.welcome-message {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 20%;
  color: #fff;
  padding: 10px 20px;
  text-wrap: normal;
}

#logout-button {
  position: absolute;
  top: 20px;
  right: 60px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header-text-container {
  text-align: center;
}

.display {
  display: flex;
  margin-top: 150px;
  height: 100vh;
  flex: 1;
  flex-direction: row;
  position: relative;
  overflow-y: auto;
  background-color: grey;
}

.content {
  background-color: #264042;
  padding: 20px;
  flex: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-top: 2px solid #ccc;
  text-align: center;
  margin-top: auto;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15 px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.white-label {
  font-family: Arial, sans-serif;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 25%;
  box-sizing: border-box;
}